<form class="example-container" [formGroup]="form" #frmPatient="ngForm" (submit)="operate()">

    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="patientId">
        </mat-form-field>
    </div>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="First Name" required minlength="3" formControlName="firstName">
        <small *ngIf="f['firstName'].errors?.['required'] && f['firstName'].touched" class="invalid">First name is required</small>
        <small *ngIf="f['firstName'].errors?.['minlength'] && f['firstName'].touched" class="invalid" >Min length is 3</small>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Last Name" required minlength="3" formControlName="lastName">
        <small *ngIf="f['firstName'].errors?.['required'] && f['firstName'].touched" class="invalid">Last name is required</small>
        <small *ngIf="f['firstName'].errors?.['minlength'] && f['firstName'].touched" class="invalid" >Min length is 3</small>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="DNI" required minlength="8" formControlName="dni">
        <small *ngIf="f['dni'].errors?.['required'] && f['dni'].touched" class="invalid">DNI is required</small>
        <small *ngIf="f['dni'].errors?.['minlength'] && f['dni'].touched" class="invalid" >Min length is 8</small>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Address" required minlength="3" formControlName="address">
        <small *ngIf="f['address'].errors?.['required'] && f['address'].touched" class="invalid">Address is required</small>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Phone" required minlength="3" formControlName="phone">
        <small *ngIf="f['phone'].errors?.['required'] && f['phone'].touched" class="invalid">Phone is required</small>
        <small *ngIf="f['phone'].errors?.['minlength'] && f['phone'].touched" class="invalid" >Min length is 9</small>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" required minlength="3" formControlName="email">
        <small *ngIf="f['email'].errors?.['required'] && f['email'].touched" class="invalid">Email is required</small>
        <small *ngIf="f['email'].invalid && f['email'].touched" class="invalid" >Email is not valid</small>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="frmPatient.invalid" >
        <mat-icon>done</mat-icon>
        <span>Done</span>
    </button>

    <button type="button" mat-raised-button color="accent" routerLink="/pages/patient" >
        <mat-icon>cancel</mat-icon>
        <span>Cancel</span>
    </button>
</form>
